<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhc.sap.mapper.SapViewMapper" >
	<!-- 查询物料信息 -->
	<select id="findMaterialInfo" resultType="com.qhc.sap.domain.MaterialDto" parameterType="Map" >
		SELECT 
	        m.code, 
			m.description, 
			m.is_configurable, 
			m.is_purchased, 
			m.stand_price as standard_price, 
			m.opt_time, 
			m.material_size, 
			m.material_type, 
			m.sap_unit_of_measurement_code as unit_code,
			u.name as unit_name, 
			m.sap_material_groups_code as group_code,
			mg.name as group_name,
			m.sap_clazz_code as clazz_code,
			c.name as clazz_name,
			mgo.code as st_group_code,
			mgo.name as st_group_name<!-- ,
			p.retail_price,
			p.annual_price,
			p.transcation_price -->
	    FROM sap_materials m
	    LEFT JOIN sap_clazz c ON c.code = m.sap_clazz_code
	    LEFT JOIN sap_unit_of_measurement u ON u.code = m.sap_unit_of_measurement_code
	    LEFT JOIN sap_material_groups mg ON mg.code = m.sap_material_groups_code
	    LEFT JOIN b_material_group_order mgo ON mgo.code = mg.b_material_group_order_code
		<trim prefix="WHERE" prefixOverrides="AND|OR" >
				AND (m.code not like '%-F' AND m.code not like '%-SF' AND m.code not like '%-U')
			<if test="list" >
				AND (m.sap_material_status is null or m.sap_material_status = '') 
				AND (m.sap_distribution_status is null or m.sap_distribution_status = '')
			</if>
			<if test="code != null and code != ''" >
				AND m.code = #{code, jdbcType=VARCHAR}
			</if>
			<!-- <if test="industryCode != null and industryCode != ''" >
				AND m.code = #{code, jdbcType=VARCHAR}
			</if> -->
			<if test="name != null and name != ''" >
				AND ( UPPER(m.description) like UPPER('%${name}%') or UPPER(m.code) like UPPER('%${name}%') )
			</if>
		</trim>
	</select>
	
	<!-- 查询物料特征信息 -->
	<select id="findCharacteristicValueByClazzCode" resultType="com.qhc.sap.entity.ClazzCharacteristicValueView" parameterType="Map" >
		SELECT 
	        v.id AS id,
	        `i`.`sap_clazz_code` AS `clazz_code`,
	        `c`.`code` AS `key_code`,
	        `c`.`name` AS `key_name`,
	        `v`.`code` AS `value_code`,
	        `v`.`name` AS `value_name`,
	        `v`.`code` AS `value_id`,
            `d`.`sap_characteristic_value_id` AS `default_value_id`
	    FROM `sap_clazz_and_character` `i` 
    	INNER JOIN `sap_characteristic` `c` ON `c`.`code` = `i`.`sap_characteristic_code` 
        INNER JOIN `sap_characteristic_value` `v` ON `v`.`sap_characteristic_code` = `c`.`code` 
        LEFT JOIN `sap_material_default_characteristic` `d` ON d.sap_materials_code = #{materialCode, jdbcType=VARCHAR} AND `d`.`sap_characteristic_code` = `c`.`code`
		<trim prefix="WHERE" prefixOverrides="AND|OR" >
			AND i.sap_clazz_code = #{clazzCode, jdbcType=VARCHAR}
		</trim>
		order by  `c`.`code`, `v`.`code`
	</select>
	
	<!-- 查询物料特征默认值 -->
	<select id="findDefaultCharacterValueByMaterial" resultType="com.qhc.sap.entity.DefaultCharacterView" parameterType="Map" >
		SELECT 
	        v.id,
	        v.code,
	        v.name,
	        m.sap_materials_code,
	        m.sap_characteristic_code AS key_code
	    FROM sap_material_default_characteristic m
	    LEFT JOIN sap_characteristic_value v ON m.sap_characteristic_value_id = v.id
		<trim prefix="WHERE" prefixOverrides="AND|OR" >
			<if test="material != null and material != ''" >
				AND m.sap_materials_code = #{material, jdbcType=VARCHAR}
			</if>
		</trim>
	</select>
	
	<!-- 查询物料特征默认值 -->
	<select id="findCustomer" resultType="com.qhc.sap.domain.CustomerDto" >
		SELECT 
	        c.code, 
	        c.change_date as changeDate, 
	        c.name, 
	        c.address, 
	        c.sap_customer_class_code as clazzCode, 
	        cc.name as clazzName, 
	        c.sap_industry_code_code as industryCodeCode,
	        ic.name as industryCodeName,
	        i.code as industryCode,
	        i.name as industryName
	    FROM sap_customer c
	    LEFT JOIN sap_industry_code ic ON ic.code = c.sap_industry_code_code
	    LEFT JOIN sap_customer_class cc on cc.code = c.sap_customer_class_code
	    LEFT JOIN sap_industry_and_customer iac on iac.sap_customer_code = c.code
	    LEFT JOIN sap_industry i on i.code = iac.sap_industry_code
		<trim prefix="WHERE" prefixOverrides="AND|OR" >
			<if test="clazzCode != null and clazzCode != ''" >
				AND (c.sap_customer_class_code = #{clazzCode} OR c.sap_customer_class_code = '03')
			</if>
			<if test="name != null and name.trim() != ''" >
				AND (UPPER(c.name) like '%${name.trim().toUpperCase()}%' OR UPPER(c.code) like '%${name.trim().toUpperCase()}%')
			</if>
		</trim>
	</select>
</mapper>
